
{% extends 'admin/baseAdmin.html.twig' %}


{% block title 'Gestions des utilisateurs' %}

{% block body %}
    <div class="container mt-4">
        <h1>Gestions des utilisateurs</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="dataTable table table-striped">
            <thead>
            <tr>

                <th>LastName</th>
                <th>FirstName</th>
                <th>e-mail</th>
                <th>Roles</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users  %}
                <tr>

                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.email }}</td>
                    {% set roleString = '' %}
                    {% for role in user.roles %}
                        {% set roleString = roleString ~ role ~ ' ' %}
                    {% endfor %}
                    <td>{{ roleString }}</td>
                    <td>

                        <a href="{{ path('admin.user.edit',{id: user.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.user.delete', {id: user.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiment sûr ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.user.new') }}" class="btn btn-primary">Créer un nouveau utilisateur</a>
        </div>
    </div>


{% endblock %}



