<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ADMIN{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>

<header class="header">
    <div class="header__nav">
        <nav class="nav">
            <ul>
                <li><a href="{{ path('admin') }}">Accueil</a></li>
                <li><a href="{{ path('admin.product.index') }}">Produits</a></li>
                <li><a href="{{ path('admin.category.index') }}">Categories</a></li>
                <li><a href="{{ path('admin.Contact.index') }}">Contacts</a></li>
                <li><a href="{{ path('admin.opinion.index') }}">Avis</a></li>
                <li><a href="{{ path('admin.order.index') }}">Order</a></li>
                <li><a href="{{ path('admin.promoCode.index') }}">Remises</a></li>
                <li><a href="{{ path('admin.user.index') }}">Utilisateurs</a></li>
            </ul>
        </nav>
    </div>
</header>



{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
