{{ form_start(form) }}
<div class="row">
    <div class="col md-4">{{ form_row(form.comment) }}</div>
    <div class="col md-4">{{ form_row(form.note) }}</div>
</div>

{{ form_widget(form)}}
<button class="btn-primary">{{ button|default ('Enregistrer') }}</button>
{{ form_end(form) }}