<div class="card mb-4">
    {% if product.picture%}
        <img src="{{ '/images/products/'~product.picture.filename }}" alt="no-image" style=" height:100px;">
        {% else %}
            <img src="{{ '/images/products/empty.jpg' }}" alt="no-image" style="width: 100%; height:auto;">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('product.show', {slug: product.slug, id: product.id}) }}">
                {{ product.title }}
            </a>
        </h5>
        <p class="card-text">{{ product.discount }} % - {{ product.quantity }} ({{ product.description }})</p>
        <div class="text-primary" style="font-size:2rem; font-weight: bold;">
            {{ product.price }} €
        </div>
    </div>
</div>
