{% extends 'base.html.twig' %}

{% block title product.title %}


{% block body %}

    <!--Shop Single Section-->
    <section class="shop-single-section">
        <div class="auto-container">

            <!--Shop Single-->
            <div class="shop-page product-details">

                <!--Basic Details-->
                <div class="basic-details">
                    <div class="row clearfix">

                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="carousel-outer">

                                {% if product.pictures is not empty %}

                                <ul class="image-carousel owl-carousel owl-theme">
                                    {% for picture in product.pictures %}
                                        <li><a href="{{ asset('/images/products/'~ picture.filename) }}" class="lightbox-image" title="Image Caption Here"><img src="{{ '/images/products/'~ picture.filename }}" width="300px"></a></li>
                                    {% endfor %}
                                    </ul>

                                    <ul class="thumbs-carousel owl-carousel owl-theme">
                                        {% for picture in product.pictures %}
                                            <li><img src="{{ '/images/products/'~ picture.filename }}"></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}


                            </div>
                        </div>

                        <!--Info Column-->
                        <div class="info-column col-lg-6 col-md-12 col-sm-12">
                            <div class="details-header">
                                <h2>{{ product.title }}</h2>
                                <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></div>
                                <div class="item-price">Price: {{ product.price }}€</div>
                            </div>

                            <div class="text">
                                <p>{{ product.description | nl2br }}</p>
                            </div>

                            <div class="other-options">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <div class="item-quantity"><input class="item-quantity quantity-spinner" type="text" value="1" name="quantity" data-max="{{ product.quantity }}"></div>
                                    </div>
                                    <div class="pull-left">
                                        <!--Btns Box-->
                                        <div class="btns-box">
                                            <button type="button" class="add-to-cart btn btn-primary" data-id="{{ product.id }}" data-filename="{{ product.picture.filename }}" data-name="{{ product.title }}" data-price="{{ product.price }}" ><span class="txt">Ajouter au panier</span></button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <ul class="shop-list">

                                <li><strong>Rémise</strong><span class="theme_color">.</span>{{ product.discount }} %</li>
                                <li><strong>Quantité</strong><span class="theme_color">.</span>{{ product.quantity }}</li>
                                <hr>


                                <li><a href="#">Ajouter à la liste de souhaits .</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
                <!--Basic Details-->

                <!--Product Info Tabs-->
                <div class="product-info-tabs">
                    <!--Product Tabs-->
                    <div class="prod-tabs tabs-box">

                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#prod-details" class="tab-btn active-btn">Description</li>

                        </ul>
                        <!--Tabs Container-->
                        <div class="tabs-content">
                            <!--Tab-->
                            <div class="tab" id="prod-reviews">
                                <!--Reviews Container-->
                                <div class="reviews-container">

                                    <!--Review-->
                                    <div class="review-box clearfix">
                                        <figure class="rev-thumb"><img src="https://via.placeholder.com/270x300" alt=""></figure>
                                        <div class="rev-content">
                                            <div class="rev-header clearfix">
                                                <h4>Michel Britney</h4>
                                                <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="far fa-star"></span> <span class="far fa-star"></span></div>
                                                <div class="time">18 Hours Ago</div>
                                            </div>
                                        </div>
                                    </div>



                                    <!--Add Review-->
                                    <div class="add-review">
                                        <h2>Add a Review</h2>

                                        <form method="post" action="shop-single.html">
                                            <div class="row clearfix">
                                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                    <label>Name *</label>
                                                    <input type="text" name="name" value="" placeholder="" required>
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                    <label>Email *</label>
                                                    <input type="email" name="email" value="" placeholder="" required>
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                    <label>Website *</label>
                                                    <input type="text" name="website" value="" placeholder="" required>
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                                    <label>Rating </label>
                                                    <div class="rating">
                                                        <a href="#" class="rate-box" title="1 Out of 5"><span class="fa fa-star"></span></a>
                                                        <a href="#" class="rate-box" title="2 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                        <a href="#" class="rate-box" title="3 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"> </span> <span class="fa fa-star"></span></a>
                                                        <a href="#" class="rate-box" title="4 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                        <a href="#" class="rate-box" title="5 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                    <label>Your Review</label>
                                                    <textarea name="review-message"></textarea>
                                                </div>
                                                <div class="form-group text-right col-md-12 col-sm-12 col-xs-12">
                                                    <button type="button" class="theme-btn btn-style-three"><span class="txt">Add Review</span></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            <!--End Tab-->

                        </div>
                    </div>

                </div>
                <!--End Product Info Tabs-->


            </div>

        </div>
    </section>
    <!--End Shop Single Section-->


{% endblock %}

 {% block javascript_footer %}



{% endblock %}
