<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('/assets/plugins/datatables/datatables.min.css')}}"/>

        <link href="{{ asset('/assets/css/bootstrap.css')}}" rel="stylesheet">
        <link href="{{ asset('/assets/css/style.css')}}" rel="stylesheet">
        <link href="{{ asset('/assets/css/responsive.css')}}" rel="stylesheet">

        <!-- Color Themes -->
        <link id="theme-color-file" href="{{ asset('/assets/css/color-themes/teal-theme.css')}}" rel="stylesheet">


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="page-wrapper">

        {% include 'header.html.twig' %}


        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}

    </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>

            <script type="text/javascript" src="{{ asset('assets/plugins/datatables/datatables.min.js') }}"></script>


            <!--Scroll to top-->
            <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.bootstrap-touchspin.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.fancybox.js') }}"></script>
            <script src="{{ asset('assets/js/appear.js') }}"></script>
            <script src="{{ asset('assets/js/parallax.min.js') }}"></script>
            <script src="{{ asset('assets/js/tilt.jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.paroller.min.js') }}"></script>
            <script src="{{ asset('assets/js/owl.js') }}"></script>
            <script src="{{ asset('assets/js/wow.js') }}"></script>
            <script src="{{ asset('assets/js/nav-tool.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
            <script src="{{ asset('assets/js/color-settings.js') }}"></script>

            {{ encore_entry_script_tags('app') }}

        {% endblock %}

    {% block javascript_footer %}{% endblock %}

    </body>
</html>
