<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('/assets/plugins/datatables/datatables.min.css')}}"/>


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="header__brand"><a class="navbar-brand" href="{{ path('home') }}">Fitprotein</a></div>
            <div class="header__nav">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <ul class="nav__items">
                        <li class="nav__dropdown">
                            <span class="nav__item"><a class="navbar-brand"{% if current_menu is defined and current_menu == 'products'%}active{% endif %} href="{{ path('product.index') }}">Nutrition sportive</a></span>
                            <ul class="nav__dropdown-items">
                                <li><a href="" class="nav__dropdown-item">Proteines</a></li>
                                <li><a href="" class="nav__dropdown-item">BCAA</a></li>
                                <li><a href="" class="nav__dropdown-item">Brûleurs de graisse</a></li>
                            </ul>
                        </li>
                        <li class="nav__dropdown">
                            <span class="nav__item"><a class="navbar-brand"{% if current_menu is defined and current_menu == 'products'%}{% endif %} href="{{ path('product.index') }}">Vêtements & Accessoires</a></span>
                            <ul class="nav__dropdown-items">
                                <li><a href="" class="nav__dropdown-item">Vêtements hommes</a></li>
                                <li><a href="" class="nav__dropdown-item">Vêtements femmes</a></li>
                                <li><a href="" class="nav__dropdown-item">Accessoires</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__user">
                <ul class="nav__items">
                    <li><a class="nav__item" href="{{ path('cart_index') }}">Panier</a></li>
                    <li><a class="nav__item" href="{{ path('app_user_register') }}">Inscription</a></li>
                    <li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_logout') }}" title="Se déconnecter" class="nav__item">Se déconnecter</a>
                        {% else%}
                            <a href="{{ path('app_login') }}" title="Se connecter" class="nav__item">Se connecter</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </header>
        {% block body %}{% endblock %}
        <footer class="footer-distributed">
            <div class="footer-left">
                <h3>Fit<span>protein</span></h3>
                <p class="footer-links">
                    <a href="#" class="link-1">Home</a>
                    <a href="#">Livraison et retours</a>
                    <a href="#">Modes de paiement</a>
                    <a href="#">Mentions-legales</a>
                    <a href="#">Qui sommes-nous?</a>
                    <a href="{{ path('contact_index') }}">Contact</a>
                </p>
                <p class="footer-company-name">Fitprotein©2020</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>14. rue du chevaleret</span>75013 Paris, France</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+1.555.555.5555</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">fitprotein@gmail.com</a></p>
                </div>
            </div>

            <div class="footer-right">
                <p class="footer-company-about">
                    <span>Notre mission: Rendre le monde plus Fit</span>
                    Être "Fit" c'est être en forme, ce qui veut dire plus d'énergie, une meilleure santé, un physique au top et une confiance en soi boostée !
                    Nous aidons chaque personne à se sentir Fit & Bien !
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/plugins/jquery-3.5.1.js') }}"></script>

            <script type="text/javascript" src="{{ asset('assets/plugins/datatables/datatables.min.js') }}"></script>

            {{ encore_entry_script_tags('app') }}

        {% endblock %}
    </body>
</html>
