<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Fit<span>protein</span></h3>
        <p class="footer-links">
            <a href="#" class="link-1">Home</a>
            <a href="{{ path('livraison-et-retours') }}">Livraison et retours</a>
            <a href="{{ path('modes-de-paiement') }}">Modes de paiement</a>
            <a href="{{ path('mentions-legales') }}">Mentions-legales</a>
            <a href="{{ path('qui-sommes-nous') }}">Qui sommes-nous?</a>
            <a href="{{ path('contact_index') }}">Contact</a>
        </p>
        <p class="footer-company-name">Fitprotein©2020</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>14. rue du chevaleret</span>75013 Paris, France</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+1.555.555.5555</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">fitprotein@gmail.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>Notre mission: Rendre le monde plus Fit</span>
            Être "Fit" c'est être en forme, ce qui veut dire plus d'énergie, une meilleure santé, un physique au top et une confiance en soi boostée !
            Nous aidons chaque personne à se sentir Fit & Bien !
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>