

{{ form_start(form) }}
<div class="row">
  <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">{{ form_row(form.title) }}</div>
        <div class="col-md-4">{{ form_row(form.quantity) }}</div>
        <div class="col-md-4">{{ form_row(form.price) }}</div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="row flex justify-content-start flex-wrap">
          {% for picture in product.pictures %}
          <div class="col" style="width:100px; flex: none; margin: 5px;">
              <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('thumb')}}" width="100" alt="">
              <a href="{{ path('admin.picture.delete', {id: picture.id}) }}" class="btn btn-danger"
                 data-delete data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a>

          </div>
      {% endfor %}
      </div>
  </div>
</div>
<div class="row">
    <div class="col-md-2">{{ form_row(form.pictureFiles) }}</div>
    <div class="col-md-2">{{ form_row(form.discount) }}</div>
    <div class="col-md-4">{{ form_row(form.subCategory) }}</div>
</div>


{{ form_widget(form)}}
<button class="btn-primary">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}